{
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"tabWidth": 4,
	"printWidth": 70,
	"proseWrap": "never",
	"vueIndentScriptAndStyle": true,
	"trailingComma": "es5",
	"bracketSameLine": false,
	"singleAttributePerLine": true,
	"useTabs": true,
	"importOrder": [
		"^@core/(.*)$",
		"^@server/(.*)$",
		"^@ui/(.*)$",
		"^[./@]",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
